.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
  margin: 0 30px 0 30px;
}

.card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  padding: 16px;
  border-radius: 25%;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  padding: 16px;
}
.card-source {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 4px;
  color: black;
}
.card-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}

.card-description {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}

.card-last-updated {
  font-size: 16px;
  margin: 0;
  color: #777;
  font-weight: 400;
  line-height: 16px;
}

.card-title a {
  color: black;
  text-decoration: none;
}

.card-title:hover a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.card-title a:visited {
  color: black;
  text-decoration: none;
}
